[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Dave Homrighouse
	email = 128435720+davehomrighouse@users.noreply.github.com
